[submodule "06. jQuery/WEB-UI"]
    path = 06. jQuery/WEB-UI
    url = https://github.com/junyoung610/repository.git
[submodule "06. jQuery/WEB-UI"]
    path = 06. jQuery/WEB-UI
    url = <repository-url>
