ul,
ol,
li {
    list-style: none;
}

.wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.wrap ul li {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.wrap ul li:nth-child(1) {
    background: #0d3b66;
}
.wrap ul li:nth-child(2) {
    background: #faf0ca;
}
.wrap ul li:nth-child(3) {
    background: #f95738;
}
.wrap ul li:nth-child(4) {
    background: #7f9183;
}
.wrap ul li:nth-child(5) {
    background: #7fb800;
}
