@charset 'utf-8';

.inner {
    width: 1180px;
    margin: 0 auto;
    /* background: #ff5; */
}

#header {
    /* height: 104px; */
    background: #fff;
}

#header nav {
    /* background: tomato; */
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: block;
    height: 104px;

    width: 225px;
    height: 50px;
    background: url(../images/logo.png) no-repeat 0 50%;
}

.gnb {
    display: flex;
}
.gnb li a {
    display: block;
    padding: 0 20px;
    /* border: 1px solid #000; */

    font-weight: 700;
    font-size: 18px;
    color: var(--tetle-color);
}

.gnb li a b {
    display: block;
    padding: 10px 0;
    /* background: tomato; */
    position: relative;
}

.gnb li a b::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background: var(--main-color);
    transition: var(--basic-transition);
}

.gnb li a:hover b::after {
    width: 100%;
}

.btn-search {
    width: 54px;
    height: 54px;
    border: 1px solid #000;
    background: #fff url(../images/ico-search.png) no-repeat 50%;
}

button {
    cursor: pointer;
}

.visual {
    max-width: 1920px;
    margin: 0 auto;
    height: 584px;
}
.visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

.sec-title {
    font-weight: 700;
    font-size: 34px;
    color: var(--tetle-color);
    text-align: center;
}

.research {
    padding: 80px 0 66px;
    background: var(--gray-light);
}
/* 
main > section {
    padding: 100px 0;
} */

.research-list {
    /* background: green; */
    margin-top: 61px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.research-list li {
    /* border: 1px solid #000; */
    width: 380px;
    height: 200px;
    background: #fff;
    padding: 36px 18px 36px 38px;

    /* 라인들의 기준 */
    position: relative;
}

.research-list li a {
    display: flex;
    gap: 29px;
}
.research-list li a::before {
    content: "";
    display: block;
    width: 71px;
    height: 60px;
    background: no-repeat 50%;
    /* fxsh0: 줄어들지마 */
    flex-shrink: 0;
}
.research-list li:nth-child(1) a::before {
    background-image: url(../images/research-icon01.png);
}
.research-list li:nth-child(2) a::before {
    background-image: url(../images/research-icon02.png);
}
.research-list li:nth-child(3) a::before {
    background-image: url(../images/research-icon03.png);
}
.research-list li:nth-child(4) a::before {
    background-image: url(../images/research-icon04.png);
}
.research-list li:nth-child(5) a::before {
    background-image: url(../images/research-icon05.png);
}
.research-list li:nth-child(6) a::before {
    background-image: url(../images/research-icon06.png);
}
.research-list li:nth-child(7) a::before {
    background-image: url(../images/research-icon07.png);
}
.research-list li:nth-child(8) a::before {
    background-image: url(../images/research-icon08.png);
}
.research-list li:nth-child(9) a::before {
    background-image: url(../images/research-icon09.png);
}

.research-list li dl dt {
    font-weight: 700;
    font-size: 18px;
    color: var(--tetle-color);
}

.research-list li dl dd {
    font-size: 14px;
    margin-top: 18px;
}

/* 라인 애니메이션 효과 */

.research-list li::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 4px;
    background: var(--main-color);
    transition: 0.4s;
}
.research-list li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: var(--main-color);
    transition: var(--basic-transition);
}
.research-list li:hover {
    box-shadow: 5px 7px 14px rgba(0, 0, 0, 0.65);
}
.research-list li:hover::before,
.research-list li:hover::after {
    width: 100%;
}

.research-list li dl::before,
.research-list li dl::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 0%;
    background: var(--main-color);
    transition: var(--basic-transition);
}
.research-list li dl::before {
    top: 0;
    left: 0;
}
.research-list li dl::after {
    bottom: 0;
    right: 0;
}
.research-list li:hover dl::before,
.research-list li:hover dl::after {
    height: 100%;
}

.join {
    min-height: 690px;
    /* background: url(../images/process-bg.jpg) no-repeat 0 0; */
    background: url(https://i.namu.wiki/i/ejgx7AnN1UL3dPyDRaTQ35pySxI5aQO8XYZZgDUzL9laRtm_x0tE2YvjEz0eDiqDWo7qos8gf2DdrDcrM3e5wSy6GGnCoQPW1NzCkjvBDIY_tpbQ9xfReCxWai9EzPN6CDHIOfD9ijpDdbY5Tqw6Zw.webp)
        no-repeat 0 0 / cover;
    background-attachment: fixed;
    position: relative;
    padding: 80px 0;
}

.join::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: var(--basic-transition);
}

.join:hover::after {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
}
.join .inner {
    position: relative;
    z-index: 1;
    /* position: static이 아닌 position 값은 z-index를 줄 수 있다. */
}

.join .sec-title {
    color: #fff;
}
.text-con {
    /* background: #f00; */
    width: 650px;
    margin-top: 119px;
    color: #fff;
}

.text-con h4 {
    font-weight: bold;
    font-size: 44px;
}
.text-con p {
    font-size: 20px;
    margin-top: 31px;
}

.text-con .more {
    margin-top: 34px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 18px;
}
.text-con .more::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/ico-more.png) no-repeat 50%;

    margin-top: 6px;
}

.text-con .more:hover {
    color: #fff;
    text-decoration: underline;
}

#footer {
    background: var(--gray-dark);
    padding: 47px 0 59px;
    color: var(--white50);
}

.foot-menu {
    padding: 31px 0;
    display: flex;
    margin-left: -16px;
}

.foot-menu li a {
    display: block;
    padding: 0 16px;
    /* border: 1px solid #ff0000; */

    position: relative;
}

.foot-menu li a:hover {
    text-decoration: none;
    color: #fff;
}

.foot-menu li a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background: var(--white10);
}

.foot-menu li:last-child a::after {
    display: none;
}

.foot-con {
    border-top: 1px solid var(--white10);
    padding: 31px 0;
    /* margin-top: 31px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-text p + p {
    font-weight: 700;
    margin-top: 5px;
}

.foot-logo {
    width: 225px;
    height: 50px;
    background: url(../images/foot-logo.png) no-repeat 0 50%;
}
