@charset 'utf-8';

.sub-visual {
    min-width: 190rem;
    height: 50rem;
    margin: 0 auto;
    background: #000 no-repeat 0 0 / cover;

    animation: revealAni 2s;
}
.story .sub-visual {
    background-image: url(../img/sub-img/sub_visual01.jpg);
}
.new-menu .sub-visual {
    background-image: url(../img/sub-img/sub_visual02.jpg);
}
.coffee .sub-visual {
    background-image: url(../img/sub-img/sub_visual03.jpg);
}
.shop .sub-visual {
    background-image: url(../img/sub-img/sub_visual07.png);
}
.event .sub-visual {
    background-image: url(../img/sub-img/sub_visual05.jpg);
}
.startups .sub-visual {
    background-image: url(../img/sub-img/sub_visual06.png);
}
.procedure .sub-visual {
    background-image: url(../img/sub-img/sub_visual06.png);
}

.sub-visual .inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.sub-visual + section {
    padding: 31rem 0 22rem;
}
.sub-title h2 {
    font-weight: 900;
    font-size: 6rem;
    color: #000000;
}

.sub-title h2 b {
    display: block;
    animation: slideLeft 0.6s 2s both;
}

.sub-title-nav {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sub-nav-color {
    color: var(--main-color);
}

.sub-nav-line {
    display: block;
    width: 0.5rem;
    height: 0.1rem;
    background: #000;
    animation: slideLeft 0.6s 2.3s both;
}
