@charset 'utf-8';

.sub-visual {
  min-width: 192rem;
  height: 36rem;
  margin: 0 auto;
  background: #000 no-repeat 0 0 / cover;

  animation: revealAni 2s;
}
.company .sub-visual {
  background-image: url(../img/sun-visual1.jpg);
}
.franchise .sub-visual {
  background-image: url(../img/sun-visual2.jpg);
}
.notice .sub-visual {
  background-image: url(../img/sun-visual3.jpg);
}
.financial .sub-visual {
  background-image: url(../img/sun-visual4.jpg);
}
.login .sub-visual {
  background: #fff;
}
.login .sub-title h2 {
  color: #000;
}
.login .sub-title h2::before {
  background: #000;
}
.sub-visual .inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.sub-visual + section {
  padding: 12rem 0 22rem;
}
.sub-title h2 {
  font-weight: 900;
  font-size: 6rem;
  color: #fff;
}

.sub-title h2 b {
  display: block;
  animation: slideLeft 0.6s 2s both;
}

.sub-title h2::before {
  content: "";
  display: block;
  width: 5.6rem;
  height: 0.6rem;
  background: #fff;
  animation: slideLeft 0.6s 2.3s both;
}

.sec-title {
  text-align: center;
  font-weight: 700;
  color: var(--title-clor);
  font-size: 5rem;
}

/* CEO 인사말 */

.greeting {
  /* border: 1px solid #f00; */
  padding: 12rem 0 22rem;
}
.greeting-con {
  /* background: #5f5; */
  display: flex;
  justify-content: space-between;

  margin-top: 8rem;
}

.greeting-con figure {
  /* border: 1px solid #000; */
  width: 49rem;
}
.greeting-con .greeting-text {
  /* border: 1px solid #000; */
  width: 77.4rem;
}

.greeting-con .greeting-text h4 {
  font-weight: 900;
  font-size: 6rem;
  color: var(--title-clor);
}
.greeting-con .greeting-text h5 {
  font-weight: 600;
  font-size: 3rem;
  color: var(--main-color);

  margin-top: 3.2rem;
}
.greeting-con .greeting-text p {
  font-weight: 500;
  font-size: 2rem;
  color: var(--text-color);

  margin-top: 3.2rem;
}
.greeting-con .greeting-text .ceo-sign {
  display: block;
  margin-top: 3.2rem;
}

/* franchise | 가맹점 개설 절차 */

.prcoess-list {
  /* background: #5f5; */
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 7.2rem;
  margin-top: 8rem;

  /* 1. 카운터 정의 */
  counter-reset: prcoess-count;
}

.prcoess-list li {
  border-top: 3px solid var(--title-clor);
  width: 40rem;
  height: 30rem;
  background: #fff;
  padding: 3rem 0;

  /* 2. 증가 */
  counter-increment: prcoess-count;
}

.prcoess-list li dl dt {
  font-weight: 700;
  font-size: 4rem;
  color: var(--main-color);
  display: flex;
  gap: 2.8rem;
  position: relative; /* relative 가 기준점을 뜻함 */
}

.prcoess-list li dl dt::before {
  /* 카운터 증가된 표시 */
  content: "0" counter(prcoess-count) ".";
}

.prcoess-list li dl dt::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 45%;
  background: rgb(100, 255, 40);
  opacity: 0.4;
}

.prcoess-list li:hover dl dt::after {
  width: 90%;
  transition: 0.4s;
}

.prcoess-list li dl dd {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1.6rem;
}
/* sns-list */

.sns-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.9rem;
  /* gap이 sns-list li의 flex의 22%와 합이 100이어야 합 */

  /* background: #5f5; */

  margin-top: 8rem;
}
.sns-list li {
  flex: 1 1 22%;

  border: 1px solid rgba(0, 0, 0, 0.2);
  /* width: 25.5rem; */
  /* height: 25.5rem; */
  aspect-ratio: 1/1; /* asr: 가로를 기준으로 한 세로 비율(종횡비) */
  position: relative;
}
.sns-list li figure {
  height: 100%;
}

.sns-con {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(45deg, red, blue, green); */

  background: rgb(255, 25, 83);
  background: linear-gradient(
    333deg,
    rgba(255, 25, 83, 0.8) 0%,
    rgba(254, 130, 3, 0.8) 34%,
    rgba(252, 1, 216, 0.8) 66%,
    rgba(125, 11, 253, 0.8) 100%
  );

  padding: 2rem;
  color: #f7e7eb;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.4s;
}

.category {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 3.8rem;
  height: 3.8rem;
  background: rgba(0, 0, 0, 0.3) no-repeat 50%;
  border-radius: 50%;

  z-index: 1;
}
.category-insta {
  background-image: url(../img/ico_w_i.png);
}

.sns-list li a::after {
  content: "";
  position: absolute;
  bottom: 2rem;
  right: -6rem;
  width: 3rem;
  height: 3rem;
  background: url(../img/ico_link02.png) no-repeat 50%;
  border-radius: 50%;

  opacity: 0;
}

/* HOVER */
.sns-list li:hover a::after {
  opacity: 1;
  right: 2rem;
  transition: 0.4s 0.4s;
}
.sns-list li:hover .sns-con {
  opacity: 1;
}

/* financial */
.financial-info-tbl {
  margin-top: 8rem;
}

.financial-info-tbl > p {
  text-align: right;
  font-weight: 500;
  font-size: 1.4rem;
}
.financial-info-tbl > table {
  border-top: 3px solid var(--title-clor);
  margin-right: 1.6rem;
}

.financial-info-tbl > table colgroup col + col {
  border-left: 1px solid var(--black20);
}

.financial-info-tbl > table thead tr th {
  height: 6rem;
  border-bottom: 1px solid var(--black20);
  vertical-align: middle;

  font-weight: 700;
  font-size: 1.6rem;
  color: var(--title-clor);
  padding-left: 0 3.2rem;
}
.financial-info-tbl > table tbody tr th {
  height: 6rem;
  border-bottom: 1px solid var(--black20);
  vertical-align: middle;
  font-size: 1.6rem;
  text-align: left;
  padding-left: 3.2rem;
}
.financial-info-tbl > table tbody tr td {
  height: 6rem;
  border-bottom: 1px solid var(--black20);
  vertical-align: middle;

  font-size: 1.6rem;
  text-align: center;
}

.financial-info-tbl > table tfoot tr th {
  height: 6rem;
  border-bottom: 1px solid var(--black20);
  vertical-align: middle;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: left;
  color: var(--main-color);
  padding-left: 3.2rem;
  background: var(--bg-color);
}

.financial-info-tbl > table tfoot tr td {
  height: 6rem;
  border-bottom: 1px solid var(--black20);
  vertical-align: middle;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  color: var(--main-color);
  background: var(--bg-color);
}
.financial-info-tbl table .sum > * {
  background: var(--bg-color);
  font-weight: 700;
  color: var(--title-clor);
}

/* 로그인 */
.login-warp {
  width: 66rem;
  margin: 0 auto;
  /* background: #ff5; */
  padding-top: 0 !important;
  text-align: center;
}

.login-warp h3 {
  font-weight: 700;
  font-size: 5rem;
  color: #000;
}

.login-warp p {
  margin-top: 1.8rem;
  font-size: 2rem;
}

.select-member {
  /* background: #5f5; */
  margin-top: 5.4rem;
  display: flex;
  justify-content: center;
  gap: 5.6rem;
}

.select-member > div {
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.select-member > div input {
  width: 2rem;
  height: 2rem;
  border: 1px solid #000;
}

.select-member > div label {
  font-weight: 700;
  font-size: 1.8rem;
  color: #000;
}

.f-row {
  /* background: #5f5; */
  margin-top: 5.4rem;
  position: relative;
  height: 6rem;
}

.f-row + .f-row {
  margin-top: 3.2rem;
}

.f-row label {
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 1.8rem;
  transition: 0.4s;
}

.f-row input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--black20);
  padding: 0 2rem;

  transition: 0.4s;
}

.f-row input:hover {
  border-color: #000;
}

.f-row input:focus + label {
  background: #fff;
  font-size: 1.2rem;
  top: -7px;
  padding: 0 7px;
}

.btn-login {
  margin-top: 3.2rem;
  width: 100%;
  height: 6rem;
  background: var(--main-color);
  color: #fff;

  font-weight: 600;
  font-size: 2.4rem;
}

.save-id {
  margin-top: 4rem;
}
.save-id > div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.save-id > div label {
  font-weight: 700;
  font-size: 1.8rem;
  color: #000;
}
